<tr>
    <td class="">{{@index}}</td>
    <td class="">{{product}}</td>
    <td class="description">{{description}}</td>
    <td class="">{{price}}</td>
    <td>
        <a href='#/detailsOffer/{{_id}}' class="btn-primary btn">Order details</a>
    </td>
    <td>
        {{#if isCreator}}
            <a href='#/deleteOffer/{{_id}}' class="btn-danger btn">Delete</a>
            <a href='#/editOffer/{{_id}}' class="btn-info btn">Edit</a>
        <!--BONUS (Not-Required)-->
        {{else}}
            <a href="#/buyBtn" class="btn-warning btn">Buy</a>
        {{/if}}
        <!--BONUS (Not-Required)-->
    </td>
</tr>